.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: rgb(252, 32, 70);
  height: 150px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.App-title {
  font-size: 32;
  font-family: sans-serif;
}

button {
  background-color: rgba(0, 0, 0, .0);
  border-color: rgba(255, 255, 255, 0.9);
  color: rgba(255, 255, 255, 0.9);
  font-size: 16px;
}

.Red-button {
  background-color: rgba(0, 0, 0, .0);
  border-color: rgb(252, 32, 70);
  color: rgb(252, 32, 70);
}

.Food-button {
  background-color: rgba(0, 0, 0, .0);
  color: #333;
  border-color: rgba(43, 40, 40, 0.267);
  margin: 20px;
  width: 450px;
  font-size: 17px;
}

.Button-format {
  display: flex;
  justify-content: space-around;
  
}
.Button-detail {
  display: flex;
  justify-content: center;
  align-items: space-around;
  width: 250px;
  flex-direction: column;
  
}
img {
  width: 100px;
  height: 100px;
  border-radius: 15px;
  padding: 10px;
}

.Food-button:hover {
  border-color: rgb(252, 32, 70);
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
